* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 1%;
    font-family: 'Roboto', sans-serif;
    /* font-size: large; */
}

body {
    background-color: #008f95;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.quizTitle, .js-currentQuestion, .js-currentScore {
    background-color: #e24e42;
    border: 10px solid #e24e42;
    border-radius: 5px;
    margin: 5px;
    font-family: 'Balsamiq Sans', cursive;
}

.statusBar {
    display: flex;
    justify-content: space-around;
}

.js-currentQuestion, .js-currentScore {
    list-style: none;
}

.js-questionBox {
    background-color: #e9b000;
    border: 10px solid #e9b000;
    border-radius: 5px;
    margin: 5px;
    max-width: 500px;
    font-size: larger;
}

.js-questionBox * {
    margin: 5px 0;
}

fieldset {
    border: none;
}

.movieImg {
    width: 100%;
    border-radius: 5px;
}

.button {
    background-color: #eb6e80;
    border: 10px solid #eb6e80;
    border-radius: 5px;
    font-size: large;
}

.button:hover, .button:focus {
    background-color: #d44c61;
    border: 10px solid #d44c61;
}

